body{
    background-image: url(https://travelground.imgix.net/AAEAAQAAAAAAAAAAAAAA2f013f54fb926b97fcbf7aa6bc3003a2cbfb152ebb1f1292affe64f45f752c4dd124f78ac0c7d58da58f79d2b3ffd303c0e6?fit=crop&auto=enhance,format,compress&q=80&crop=focalpoint&fp-y=0.5&flip=h&w=1920&h=1080);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}

h1{
    text-align: center;
}


form{
    margin: 50px;
    padding: 20px;
}
